@use '../util' as u;

.toast {
  visibility: hidden;
  min-width: u.rem(250);
  background-color: var(--secondary-dark-color);
  color: var(--primary-light-color);
  text-align: center;
  border-radius: 2px;
  padding: u.rem(16);
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: u.rem(100);
}


.toast.show {
  visibility: visible;

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: u.rem(100);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: u.rem(100);
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: u.rem(100);
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: u.rem(100);
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}