@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  width: min(100% - u.rem(40), u.rem(1300));
  margin-inline: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding-top: u.rem(100);

  @include u.breakpoint-down(small) {
    padding-top: u.rem(40);
  }
}


.no-scroll {
  overflow-y: hidden;
}

.error {
  color: rgb(212, 21, 21);
  display: none;
}

.spinner {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: .75);

  img {
    width: u.rem(45);
  }
}