@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  width: min(100% - u.rem(40), u.rem(1300));
  margin-inline: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding-top: u.rem(91);
}