@use '../util' as u;


.contact {
  padding-top: u.rem(60);

  &__inner {
    .title {
      text-align: center;
      margin-bottom: u.rem(30);
    }
  }
}


.form {
  width: min(100% - u.rem(20), u.rem(550));
  margin-inline: auto;
  border: 1px solid var(--primary-light-color);
  padding: u.rem(20);


  @include u.breakpoint-down(small) {
    width: 100%;
  }


  &-group {
    display: flex;
    flex-direction: column;
    gap: u.rem(10);
    width: 100%;
    margin-bottom: u.rem(20);

    &.invalid {

      .error {
        display: block;
      }
    }
  }

  &-label {
    font-size: u.rem(20);


    @include u.breakpoint-down(small) {
      font-size: u.rem(16);
    }
  }

  &-input {
    border: 1px solid var(--primary-light-color);
    padding: u.rem(10) u.rem(14);
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px var(--primary-light-color);
    }
  }
}