@use '../util' as u;


.footer {
  margin-top: u.rem(100);
  padding-block: u.rem(30);

  @include u.breakpoint-down(small) {
    margin-top: u.rem(40);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include u.breakpoint-down(small) {
      flex-direction: column-reverse;
      justify-content: center;
      gap: u.rem(20);
    }
  }

  &__copy {
    font-size: u.rem(18);

    @include u.breakpoint-down(small) {
      text-align: center;
    }
  }

  &__social-list {
    display: flex;
    align-items: center;
    gap: u.rem(40);
  }

  &__social-link {
    font-size: u.rem(20);

    &:hover {
      text-decoration: underline;
    }
  }
}